*{
	margin:0;
	padding: 0;
}
.wbox{
	width: 100%;
}
/*logo 开始*/
.wbox .logo{
	margin:0 auto;
	width: 990px;
	height: 120px;
}
.wbox .logo img{
	margin-top: 40px;
}
.wbox .yijian{
	margin-top: 90px;
	float: right;
	width: 127px;
	height: 16px;
}
.wbox .yj-logo{
	float: left;
	width: 15px;
	height: 18px;
	background: url(../images/01.png) 0 -257px;
}
.wbox .logo .yijian span{
	float: right;
	font-size: 12px;
	line-height: 16px;
	color: #888;
}
/*logo 结束*/
/*安全 开始*/
.saftTip{
	border-top: 1px solid #fee6bc;
	width: 100%;
	height:30px;
	background: #fff4e3;
}
.saftTip .saft{	
	width: 838px;
	margin:0 auto;
}
.saftTip .st-logo{
	margin: 9px 10px 0 0;
	float: left;	
	width: 20px;
	height: 20px;
	background: url(../images/01.png) -22px 0;
}
.saftTip p{
	font-size: 12px;
	margin:0 auto;
	color: #ff7f23;
	line-height: 30px;
}
/*安全 结束*/
/*内容 开始*/
.content{
	width: 100%;
	height: 480px;
	background: #fffdd4;
}
.content .cont-bg{
	position: relative;
	margin:0 auto;
	width: 1200px;
	height: 480px;
	background:url(../images/2.gif);
}
.content .cont-bg .cont-box{
	position: absolute;
	top: 20px;	
	right: 104px;	
	width: 350px;
	height: 370px;
}
.content .cont-bg .cont-box .smdl{
	float: left;
	right: 0;
	width: 174px;
	height: 54px;
	background: #fff;
	text-align: center;
	line-height: 54px;
	font-size: 18px;
	cursor: pointer;
	color: #f00;
}
.content .cont-bg .cont-box .zhdl{
	float: right;
	width: 175px;
	height: 54px;
	background: #fff;
	text-align: center;
	line-height: 54px;
	font-size: 18px;
	cursor: pointer;
} 
.content .cont-bg .cont-box .box{
	width: 350px;
	height: 279px;
	background: #fff;
	clear: both;
}
.content .cont-bg .box form{
	position: absolute;
	top: 80px;
	left: 20px;
	width: 302px;
	height: 249px;
}
.content .cont-bg .box .user{
	width: 300px;
	height: 42px;
	border: 1px solid #ccc;
}
.content .cont-bg .box .user input{
	margin-left: 10px;
	width: 290px;
	height: 42px;
	border:0px;
}
.content .cont-bg .box .user span{
	position: absolute;
	top: -20px;
	left: 0px;
	display: inline-block;
	width: 300px;
	height: 20px;
	font-size: 12px;
	background: #fee;
	color: #e3111e;
	display: none;
}
.content .cont-bg .box .password{
	margin-top: 10px;
	width: 300px;
	height: 42px;
	border: 1px solid #ccc;
}
.content .cont-bg .box .password input{
	margin-left: 10px;
	width: 290px;
	height: 42px;
	border:0px;
}
.content .cont-bg .box2{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	line-height: 40px;
}
.content .cont-bg .box2 span{
	font-size: 12px;
}
.content .cont-bg .box2 .fr{
	float: right;
}
.content .cont-bg .box2 .fr a:hover{
	color: #f00;
	text-decoration: underline;
}
.content .cont-bg .box button{
	width: 300px;
	height: 42px;
	background: #ff5757;
	border:none;
	cursor: pointer;
}
.content .cont-bg .box p{
	margin-top: 20px;
	color: #2875cc;
	font-size: 12px;
}
.content .cont-bg .box p:hover{
	text-decoration: underline;
}
.content .cont-bg .qtdl{
	width: 350px;
	height: 50px;
	background: #fff;
	font-size: 12px;
	line-height: 50px;
}
.content .cont-bg .qtdl .ql{
	margin-left: 20px;
}
.content .cont-bg .qtdl .ql a{
	color: #111;
	margin:0 5px 0 5px;
}
.content .cont-bg .qtdl .ql a:hover{
	color: #f00;
	text-decoration: underline;
}
.content .cont-bg .cont-box .smdl-box{
	width: 350px;
	height: 279px;
	background: #fff;
	position: absolute;
	top: 58px;
}
.content .cont-bg .cont-box .smdl-box .erweima{
	top:50px;
	left: 70px;
	position: absolute;
	background: #ccc;
	width: 200px;
	height: 200px;
	background: url(../images/02.png) 0px -1512px no-repeat;
}
/*内容 结束*/
/*尾巴 开始*/
.foot{
	width: 990px;
	height: 160;
	margin: 20px auto;
}
.foot ul li{
	float: left;
	margin-right: 10px;
	font-size:12px;
}
.foot ul li a{
	color:#666;
}
.foot p{
	font-size: 12px;
	margin-top: 10px;
	color: #666;
}
hr{
	margin-top: 10px;
}
.foot .foot-credit{
	margin-top: 10px;
	width: 990px;
	height: 36px;
}
.foot .foot-credit .jy{
	float: left;
	margin-right: 20px;
	width: 105px;
	height: : 36px;
}
.foot .foot-credit .jy .jy-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -3px -180px no-repeat	;
}
.foot .foot-credit .jy p{
	float: right;
	margin-top: 0;
	float: right;
	width: 66px;
}
.foot .foot-credit .kx{
	float: left;
	margin-right: 20px;
	width: 95px;
	height: : 36px;
}
.foot .foot-credit .kx .kx-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -35px -180px no-repeat	;
}
.foot .foot-credit .kx p{
	float: right;
	margin-top: 0;
	float: right;
	width: 55px;
}
.foot .foot-credit .cx{
	float: left;
	margin-right: 20px;
	width: 100px;
	height: : 36px;
}
.foot .foot-credit .cx .cx-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -70px -180px no-repeat	;
}
.foot .foot-credit .cx p{
	float: right;
	margin-top: 0;
	float: right;
	width: 60px;
	line-height: 35px;
}
.foot .foot-credit .cy{
	float: left;
	margin-right: 20px;
	width: 95px;
	height: : 36px;
}
.foot .foot-credit .cy .cy-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -105px -180px no-repeat	;
}
.foot .foot-credit .cy p{
	float: right;
	margin-top: 0;
	float: right;
	width: 55px;
}
.foot .foot-credit .wg{
	float: left;
	margin-right: 20px;
	width: 105px;
	height: : 36px;
}
.foot .foot-credit .wg .wg-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -140px -180px no-repeat	;
}
.foot .foot-credit .wg p{
	float: right;
	margin-top: 0;
	float: right;
	width: 66px;
	line-height: 35px;
}
.foot .foot-credit .sh{
	float: left;
	margin-right: 20px;
	width: 150px;
	height: : 36px;
}
.foot .foot-credit .sh .sh-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -170px -180px no-repeat	;
}
.foot .foot-credit .sh p{
	float: right;
	margin-top: 0;
	float: right;
	width: 110px;
}
.foot .foot-credit .yh{
	float: left;
	margin-right: 20px;
	width: 130px;
	height: : 36px;
}
.foot .foot-credit .yh .yh-img{
	float: left;
	width: 35px;
	height: 35px;
	background: url(../images/02.png) -210px -180px no-repeat	;
}
.foot .foot-credit .yh p{
	float: right;
	margin-top: 0;
	float: right;
	width: 90px;
}
/*尾巴 结束*/
