.bg{
	background: #eee;
}
.gs{
	height: 246px;
	background: #fff;
	border: 1px solid #ddd;
}
.assortment{
	display: block;
	margin: 10px 0;
}
.gs h2{
	border-bottom: 1px solid #ccc;
	height: 70px;
}
.gs span{
	line-height: 40px;
}
.tu{
	margin-top: 30px;
}
.tc{
	margin: 20px 0 0 0;
	background: #fff;
}
.tu2{
	float: left;
}
.tc .span{
	float: left;
	margin-top: 20px;
}
.tc button{
	float: right;
}
.tc-style{
	height: 142px;
	margin: 20px 0 0 0;
	background: #fff;
	margin-top: 20px;
	border-bottom: 1px solid #111;
}
.cnxh{
	margin-top: 20px;
	background: #fff;
	text-align: center;
}
@media(max-width:786px){
	.cnxh{
		display: none;
	}
}

.userhelp ul{
	list-style: none;
}
.userhelp ul li span{
	margin-left: 30px;
}
.footer{
	text-align: center;
}